/* Fonts */
@font-face {
  font-family: YekanBakh;
  src: url("./assets/fonts/Yekan-Bakh-EN-05-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: YekanBakh;
  src: url("./assets/fonts/Yekan-Bakh-EN-03-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: YekanBakh;
  src: url("./assets/fonts/Yekan-Bakh-EN-01-Hairline.woff");
  font-weight: 100;
}

@font-face {
  font-family: 'Digital-7';
  src:url('./assets/fonts/Digital-7.ttf.woff') format('woff'),
      url('./assets/fonts/Digital-7.ttf.svg#Digital-7') format('svg'),
      url('./assets/fonts/Digital-7.ttf.eot'),
      url('./assets/fonts/Digital-7.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: YekanBakh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit
}

input {
  font-family: YekanBakh !important;
}
